.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button {
  padding: 20px;
  border: 2px solid silver;
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
  background: orange
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;

/*Button disabled - CSS color class*/
color: #c0c0c0;
background-color: #ffffff;
border: 2px solid grey;
}

